<section id="login" class="container">
	<h1>Choose Login Method</h2>
	<section class="container">
		<a class="google-btn" href="/auth/google" style="color:White">Google+</a>
	</section>
	<section class="container">
		<a class="facebook-btn" href="/auth/facebook" style="color:White">Facebook</a>
	</section>
	<br>
	<section class="container">
		<a class="button" href="/auth/privacy-policy" style="color:White">Privacy Policy</a>
	</section>
</section>