
<div class="w-45 p-3 mx-auto" style="background-color: rgba(255, 255, 255, .6);">

	<section id="login" class="container">
		<h2 align="center">Choose Login Method</h2>
		<br>
		<section align="center" class="container">
			<a class="btn btn-danger" href="/auth/google" style="color:White"><i class="fa fa-google"></i> Sign in using Google</a>
		</section>
		<br>
		<section align="center" class="container">
			<a class="btn btn-primary" href="/auth/facebook" style="color:White"><i class="fa fa-facebook-f"></i> Sign in using Facebook</a>
		</section>
		<br>
		<br> 
		<br> 
		<section align="center" class="container">
			<a class="btn btn-info" href="/auth/privacy-policy" style="color:White">Privacy Policy</a>
		</section>
	</section>

</div>