<div class="w-45 p-3" style="background-color: rgba(255, 255, 255, .8);">
	<p>Hello {{user.first_name}}!</p>
	<br>
	<section align="center" class="container">
		<a class="btn btn-dark" href="/rides/my_rides" style="color:White">Rides I've Posted</a>
	</section>
</div>